@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(rgb(121, 1, 1), rgb(255, 0, 0));
    height: 100vh;
    width: 70%;
}
#imprecao{
    display: none;
    background: rgb(211, 0, 0);
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.print {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    width: 320px;
    height: auto;
    background-color: white;
}

.print h1 {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.print h2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.print p {
    padding: 5px;
    font-size: 18px;
}

.assinatura {
    border-top: 1px solid black;
    text-align: center;
}

.conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(211, 0, 0);
    border-radius: 30px;
    width: 600px;
    height: 450px;
    -webkit-box-shadow: 5px 4px 25px 7px rgba(0,0,0,0.66); 
    box-shadow: 5px 4px 25px 7px rgba(0, 0, 0, 0.308);
}

.informacoes {
    display: flex;
    justify-content: center;
}

.conteiner h1 {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.caixa_text {
    padding: 10px;
}

.caixa_text input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: none;
    text-align: center;
}
.caixa_text textarea {
    width: 250px;
    height: 80px;
    border-radius: 8px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

::placeholder{
    padding-left: 10px;
    text-align: left;
}

#logo {
    width: 200px;
    
}

#logo2 {
    width: 200px;
    position: relative;
    left: 30px;
    margin-top: -30px;
    margin-bottom: -15px;
}


@media print {
    .print {
        display: block;
    }

    .dados {
        display: none;
    }
    .frases{
        display: none;
    }
    .imprecao{
        height: auto;
        width: auto;
    }
}

#WhatsApp{
    font-size: 12px;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.conteiner02{
    display: flex;
}

#checkboxX {
    color: white;
    font-size: 13px;
}

#resultadoTroco {
    display: none;
}

#link {
    font-size: 14px;
}

#caixaTroco{
    display: none;
}

button {
    margin-top: 20px;
    background-color: yellow;
    color: red;
    font-weight: 500;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 30px;
}

button:hover {
    width: 140px;
    transition: 0.4s;
}


select {
padding: 8px;
width: 170px;
font-size: 13px;
border: none;
border-radius: 10px;
background-color: #fff;
outline: none;
}

option {
padding: 5px;
}

label {
    font-size: 15px;
    padding-left: 10px;
}


.wrapper{
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.5s ease;
}

header h1{
    text-align: center;
    font-weight: 500;
    font-size: 21px;
}
header p{
    text-align: center;
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}
.wrapper .form{
    margin: 20px 0 25px;
}
.wrapper :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}
.form button{
    display: none;
}
.wrapper .qr-code{
    display: none;
    opacity: 0;
    pointer-events: none;
    padding: 15px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #987a71;
}
.wrapper .img{
    width: 150px;
    height: auto;
}
.wrapper.active .qr-code{
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transition: apacity 0.5s ease;
}

#frases {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#frases > h3 {
    color: white;
    padding: 10px;
}

#frases > input {
    height: 30px;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    text-align: center;
}
#frases > button{
    margin-top: 0;
    margin-left: 10px;
    border-radius: 5px;
}

.home {
    display: flex;
}


.previews {
    width: 70px;
}

.previews:hover {
    width: 80px;
}

.imprecao .visualizar {
    display: block;
    background: green;
}